<header>
    <nav aria-label="Menu principal">
        <ul>
            <li class="submenu" aria-expanded="false">
                <span class="menu-item">
                    <img src="/images/profile.webp" alt="Logout" class="profile-image">
                    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.293 4.293a1 1 0 011.414 0L8 9.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z" />
                    </svg>
                </span>
                <ul class="submenu-list">
                        <li class="item"><span class="nav-link" id="btnLogout">Sair</span></li>
                        <li class="item"><a class="nav-link" href="/login">Login</a></li>
                </ul>
            </li>
            <li class="submenu" aria-expanded="false">
                <span class="menu-item">Cadastrar
                    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.293 4.293a1 1 0 011.414 0L8 9.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z" />
                    </svg>
                </span>
                <ul class="submenu-list">
                    <li class="item"><a class="nav-link" href="/usuario">Usuário</a></li>
                    <li class="item"><a class="nav-link" href="/cliente">Cliente</a></li>
                    <li class="item"><a class="nav-link" href="/ocorrencia">Ocorrência</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>