body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
}

input,
textarea,
select {
    padding: 8px;
    border-radius: 15px;
}

button {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container input {
    width: calc(100% - 20px);
}

/* Remove o ícone de visibilidade de senha padrão */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

.input-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 55%;

    cursor: pointer;
    width: 20px;
    height: 20px;
}

/* Dispositivos móveis pequenos (por exemplo, iPhone SE) */
@media only screen and (max-width: 320px) {
    .login-form {
        width: 90%;
    }
}

/* Dispositivos móveis médios (por exemplo, smartphones padrão) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
    .login-form {
        width: 90%;
    }
}

/* Dispositivos móveis grandes (por exemplo, smartphones grandes) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .login-form {
        width: 90%;
    }
}

/* Tablets */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .login-form {
        width: 80%;
    }
}

/* Laptops e telas menores de desktop */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .login-form {
        width: 50%;
    }
}