body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
}

input,
textarea,
select {
    padding: 8px;
    border-radius: 15px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}