body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    display: flex;
    margin: 30px;
    gap: 20px;
    flex-direction: row;
    flex-grow: 1;
}

.form-editor,
.form-search {
    gap: 20px;
    display: flex;
    flex-direction: column;
    /* width: 25%;*/
    flex-grow: 1;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 15px;
    position: relative;
    transition: left 0.3s ease, opacity 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.form-editor.active,
.form-search.active {
    display: none;

}

.Btnexpand {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 0%;
    top: 113px;
}

.Btnexpandsearch {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0%;
    top: 113px;
}


input:focus {
    outline: none;
}

.ocorrencia {
    width: 50%;
    overflow-y: scroll;
    border: 1px solid gray;
    max-height: 1233.470px;
    flex-grow: 1;
}

.filtro-ocorrencia {
    width: 25%;
    border: 1px solid gray;
}

input,
textarea,
select {
    padding: 8px;
    border-radius: 15px;
}

.BtnEnviar,
.save-button,
.cancel-button {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #007bff;
    color: white;
    border: none;
}

.BtnPdf {
    border-radius: 15px;
}

.toggle-btn {
    display: none;
}

aside {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.td-button {
    text-align: center;
}

.edit-button {
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}

.select2-container--default {
    width: auto !important;
}

.edit-section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    flex-direction: column;
    gap: 10px;
    width: 25%;
}

.expand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cad-ocorrencia.show,
.pesq-ocorrencia.show {
    display: flex;
    /* Exibir quando expandido */
}

.ocor-arrow-icon.rotate {
    transform: rotate(180deg);
    /* Rotacionar o ícone ao expandir */
    transition: transform 0.3s ease;
}

.cad-ocorrencia,
.pesq-ocorrencia {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ocor-arrow-icon {
    display: none;
}

.cad-container,
.search-container-ocor {
    display: flex;
    /* width: 25%;*/
    gap: 10px;
    align-items: flex-start;
}

.cad-container.active,
.form-search.active {
    display: none;

}

.expand-button {
    background-color: transparent;
    border: none;
}


/* Dispositivos móveis pequenos (por exemplo, iPhone SE) */
@media only screen and (max-width: 320px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .expand-button {
        display: none;
    }


    .form-editor,
    .form-search {
        gap: 20px;
        display: flex;
        flex-direction: column;
        /* width: 90%;*/
        order: 1;
    }



    .form-editor.active,
    .form-search.active {

        display: flex;

    }

    .cad-container,
    .search-container-ocor {

        width: 90%;

    }


    .ocorrencia {
        width: 90%;
        order: 2;
    }

    .edit-section {
        width: 50%;
    }

    .Btnexpand,
    .Btnexpandsearch {
        display: none;
    }

    .cad-ocorrencia,
    .pesq-ocorrencia {
        display: none;
        transition: all 0.3s ease;
    }

    .expand {
        cursor: pointer;
    }

    .ocor-arrow-icon {
        display: block;
    }
}

/* Dispositivos móveis médios (por exemplo, smartphones padrão) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .expand-button {
        display: none;
    }


    .form-editor.active,
    .form-search.active {

        display: flex;

    }


    .form-editor,
    .form-search {
        gap: 20px;
        display: flex;
        flex-direction: column;
        /*width: 90%;*/
        order: 1;
    }

    .cad-container,
    .search-container-ocor {

        width: 90%;

    }

    .ocorrencia {
        width: 90%;
        order: 2;
    }

    .edit-section {
        width: 50%;
    }

    .Btnexpand,
    .Btnexpandsearch {
        display: none;
    }

    .cad-ocorrencia,
    .pesq-ocorrencia {
        display: none;
        transition: all 0.3s ease;
    }

    .expand {
        cursor: pointer;
    }

    .ocor-arrow-icon {
        display: block;
    }
}

/* Dispositivos móveis grandes (por exemplo, smartphones grandes) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .expand-button {
        display: none;
    }

    .form-editor.active,
    .form-search.active {

        display: flex;

    }


    .form-editor,
    .form-search {
        gap: 20px;
        display: flex;
        flex-direction: column;
        /* width: 90%;*/
        order: 1;
    }

    .cad-container,
    .search-container-ocor {

        width: 90%;

    }

    .ocorrencia {
        width: 90%;
        order: 2;
    }

    .edit-section {
        width: 50%;
    }

    .Btnexpand,
    .Btnexpandsearch {
        display: none;
    }

    .cad-ocorrencia,
    .pesq-ocorrencia {
        display: none;
        transition: all 0.3s ease;
    }

    .expand {
        cursor: pointer;
    }

    .ocor-arrow-icon {
        display: block;
    }

}

/* Tablets */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .expand-button {
        display: none;
    }

    .form-editor.active,
    .form-search.active {

        display: flex;

    }


    .form-editor,
    .form-search {
        gap: 20px;
        display: flex;
        flex-direction: column;
        /*  width: 80%;*/
        order: 1;
    }

    .cad-container,
    .search-container-ocor {

        width: 80%;

    }

    .ocorrencia {
        width: 80%;
        order: 2;
    }

    .edit-section {
        width: 50%;
    }

    .Btnexpand,
    .Btnexpandsearch {
        display: none;
    }

    .cad-ocorrencia,
    .pesq-ocorrencia {
        display: none;
        transition: all 0.3s ease;
    }

    .expand {
        cursor: pointer;
    }

    .ocor-arrow-icon {
        display: block;
    }
}

/* Laptops e telas menores de desktop */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .expand-button {
        display: none;
    }

    .form-editor.active,
    .form-search.active {

        display: flex;

    }



    .form-editor,
    .form-search {
        gap: 20px;
        display: flex;
        flex-direction: column;
        /*  width: 50%;*/
        order: 1;
    }

    .cad-container,
    .search-container-ocor {

        width: 50%;

    }

    .ocorrencia {
        width: 50%;
        order: 2;
    }

    .edit-section {
        width: 50%;
    }

    .Btnexpand,
    .Btnexpandsearch {
        display: none;
    }

    .cad-ocorrencia,
    .pesq-ocorrencia {
        display: none;
        transition: all 0.3s ease;
    }

    .expand {
        cursor: pointer;
    }

    .ocor-arrow-icon {
        display: block;
    }
}